@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  color: var(--vscode-foreground);
  background: var(--vscode-sideBar-background);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
}

#root {
  height: 100%;
}
